<html>
<head>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="height: 300px"></div>
</body>
<script type="text/javascript">
let data = {{ data|safe }};

console.log(data)
$(document).ready(function () {
    $('#container').highcharts({

    chart: {

        zoomType: 'x',
        panning: true,
        panKey: 'shift'
    },

    title: {
        text: '链家数据统计'
    },
    subtitle: {
        text: '海淀 200-1600；西城 200-1600'
    },
    xAxis: {
        title: {
            text: '日期'
        },
        categories: data.date,
        tickmarkPlacement: 'on'
    },

    yAxis: {

        title: {
            text: '数量'
        },

    },

    legend: {
        enabled: false
    },

    series: [{
        name: '涨价',
        data: data.inc
    },
    {
        name: '降价',
        data: data.dec
    },
    {
        name: '上架',
        data: data.up
    },
    {
        name: '下架',
        data: data.down
    }]
    });
});
</script>
</html>