<html>
<head>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
</body>
<script type="text/javascript">


function createElement(name, data){
console.log(name)
console.log(data)
let div_instant = document.createElement("div");
div_instant.id = "chart_" + name;
div_instant.style.margin = "40px";
div_instant.style.height = "300px";
chart_title = name + " 200-1600";
document.body.appendChild(div_instant);

$('#chart_' + name).highcharts({
    chart: {
        zoomType: 'x',
        panning: true,
        panKey: 'shift'
    },
    title: {
        text: '链家数据统计'
    },
    subtitle: {
        text: chart_title
    },
    xAxis: {
        title: {
            text: '日期'
        },
        categories: data.x_data,
        tickmarkPlacement: 'on'
    },
    yAxis: {
        title: {
            text: '数量'
        },
    },

    legend: {
        enabled: false
    },
    series: [{
        name: '涨价',
        data: data.inc
    },
    {
        name: '降价',
        data: data.dec
    },
    {
        name: '上架',
        data: data.up
    },
    {
        name: '下架',
        data: data.down
    }]
    });
}

let names = {{ names|safe }};
let dis_data = {{ data|safe }};

$(document).ready(function () {
console.log(names)
console.log(dis_data)

for (let i=0; i< names.length; i++) {
    createElement(names[i], dis_data[i]);
}

});
</script>
</html>

