<html>
<head>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="height: 300px"></div>
</body>
<script type="text/javascript">
let dis_data = {{ data| safe}};
console.log(dis_data)
let names = ['name1', 'name2']
$(document).ready(function () {
    $('#container').highcharts({

    chart: {

        zoomType: 'x',
        panning: true,
        panKey: 'shift'
    },

    title: {
        text: '2017年环法德法国第八站：Dole站'
    },

    xAxis: {
        title: {
            text: '距离'
        },
        categories: dis_data.ip_time,
        tickmarkPlacement: 'on'
    },

    yAxis: {

        title: {
            text: 'help'
        },

    },

    legend: {
        enabled: false
    },

    series: [{
        name: names[0],
        data: dis_data.ip_count
    }]
    });
});
</script>
</html>