<html>
<head>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
</body>
<script type="text/javascript">


function createElement(display){

let div_instant = document.createElement("div");
div_instant.id = "chart_" + display.name;
div_instant.style.margin = "40px";
div_instant.style.height = "300px";
document.body.appendChild(div_instant);

$('#chart_' + display.name).highcharts({
    chart: {
        zoomType: 'x',
        panning: true,
        panKey: 'shift'
    },
    title: {
        text: '存量房网上签约'
    },
    subtitle: {
        text: display.name
    },
    xAxis: {
        title: {
            text: '日期'
        },
        categories: display.date,
        tickmarkPlacement: 'on'
    },
    yAxis: {
        title: {
            text: '数量'
        },
    },

    legend: {
        enabled: false
    },
    series: [{
        name: 'count',
        data: display.count
    },
    {
        name: 'area/100',
        data: display.area
    }]
    });
}

let dis_data = {{ data|safe }};

$(document).ready(function () {

for (let i=0; i< dis_data.length; i++) {
    createElement(dis_data[i]);
}

});
</script>
</html>

